{% extends "main/default.html" %}

{% load static %}

{% block title %}Заявка{% endblock %}

{% block content %}
    <div class="features">
       <form class='application' method="post">
           <h1>Заполнение заявки</h1><br>
           {% csrf_token %}
           {{ form.type }}<br>
           {{ form.name }}<br>
           {{ form.date }}<br>
           <span>{{ error }}</span>
           <button class="btn btn-success" type="submit">Отправить заявку</button>
       </form>
    </div>
{% endblock %}